body {
  background: #222222;
  margin: 0;
  font-family: "Comic Sans MS";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: auto;
  
  font-size: 2.5vw;
  text-align: center;
  font-weight: bold;
  -webkit-text-fill-color: rgb(255, 0, 0);
}

